.customer_benefits_section {
    background-color:#fad9ba;
    color: #40434D;
    padding: 150px 0px;

    @include bp($bp-mobile) {
        padding: 50px 0px 80px 0px;
      }

      @include bp($bp-tablet) {
        padding: 50px;
    }

    .text_container {
        padding: 0px 200px;

        @include bp($bp-mobile) {
            padding: 0px 16px;
          }

          @include bp($bp-tablet) {
            padding: 0px;
        }

        .title {
            font-size: 60px;
            font-weight: 900;
            text-transform: uppercase;
            line-height: 60px;
            text-align: center;

            @include bp($bp-mobile) {
                font-size: 40px;
              }
        }
    
        .description {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            margin-top: 35px;
            padding: 0px 100px;

            @include bp($bp-mobile) {
                padding: 0px;
              }

            
        }
    }

    .img_benefits_list_container {
        display: flex;
        margin-top: 70px;
        padding-right: 200px;

        @include bp($bp-mobile) {
            flex-direction: column;
            padding: 0px;
          }

          @include bp($bp-tablet) {
            flex-direction: column;
            padding: 0px;
        }

          .img_container{
            @include bp($bp-mobile) {
                display: none;
              }

          }

        img {
            max-height: 760px;
            object-fit: cover;
        }

           
        .img_container, .benefits_list_container  {
            flex: 1;
        }

        .benefits_list_container {
            display: flex;
            gap: 60px;
            flex-direction: column;
            padding-left: 100px;

            @include bp($bp-mobile) {
                padding: 0px 16px;
              }

              @include bp($bp-tablet) {
                padding:50px 0px 0px 0px;
            }

              
        }

        .single_benefit {
            color:#40434D;

            .number_and_description_wrapper {

                display: flex;
                gap: 15px;
                align-items: center;

                .item_number {
                    font-size: 80px;
                    font-weight: 700;
                }
    
                .benefit_description {
                    font-size: 26px;
                    font-weight: 700;

                    a {
                        color:#40434D;
                        text-decoration: underline;
                    }
                }
            }

           
        }
    }


}