.about_us_section {

  @include bp($bp-mobile) {
    height: 25vh;
  }
    .hero_section {
      position: relative;
      width: 100%;

      @include bp($bp-mobile) {
        height: 100%;
      }
      img {
        object-fit: contain;
        display: block;
        height: auto;
        width: 100%;

        @include bp($bp-mobile) {
          height: 100%;
          object-fit: cover;
        }
      }
  
      .description_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .hero_description {
        max-width: 850px;
        margin-left: 8%;
        font-size: 76px;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 1;

        @include bp($bp-mobile) {
          font-size: 44px;
        }
  
      }

      &::after {
        content: ""; // ::before and ::after both require content
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          180deg,
          #000000 0%,
          rgba(0, 0, 0, 0) 100%
        );
        opacity: 0.9;
      }

      

    }
}