.why_us {
    display: flex;
    color: #40434d;
    padding: 0px 0% 0px 10%;
    gap: 10%;
    background-color:#fff4d8;

    @include bp($bp-tablet) {
      padding: 0px 0px 0px 50px;
      gap: 20px;
  }

    @include bp($bp-mobile) {
      flex-direction: column;
      padding: 50px 0px 0px 0px;
    }
  
    .text_and_button_wrapper {
      display: flex;
      flex: 1;
      margin: auto;
      flex-direction: column;

      @include bp($bp-mobile) {
        padding: 0px 16px;
        align-items: center;
      }

       @include bp($bp-tablet) {
      margin: 10% auto;
  }
    
      .title {
        font-size: 133px;
        font-weight: 700;
        color: #40434C;
        margin-right: -50%;
        z-index: 1;
        margin-bottom: 30px;

        @include bp($bp-mobile) {
          font-size: 40px;
          width: 100%;
          margin-right: unset;
        }

        @include bp($bp-tablet) {
          font-size: 52px;
          line-height: 60px;
      }
      }
  
      .description {
        font-size: 18px;
        font-weight: 700;
        color: #40434d;
        margin: auto;
        margin-bottom: 30px;
        list-style: disc;
        list-style-position: outside;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include bp($bp-mobile) {
          padding-left:16px;
        }
      }
    }

    a {
      font-size: 18px;
        font-weight: 700;
        color: #40434d;
        text-decoration: underline;
      
    }

    .button-wrapper {
      margin-left: -15px;
      display: flex;
      gap: 40px;
      padding-bottom: 50px;

      a.button {
        text-decoration: none;
  
        @include bp($bp-mobile) {
          margin-left: 0px;
          margin-bottom: 30px;
        }
      }

    }


    a.button {
      margin-left: -15px;
      text-decoration: none;

      @include bp($bp-mobile) {
        margin-left: 0px;
        margin-bottom: 30px;
      }
    }
  
    .image_wrapper {
      flex: 2;
      @include bp($bp-tablet) {
        flex: 1;
    }

    .img_container {
      height: 100%;
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    }
  }