.how_to_order_section {
    padding: 120px 10%;
    background: #FFF4D8;
    .title {
        font-size: 60px;
        font-weight: 700;
        color: #40434D;
        text-align: center;
    }

  .order_steps_wrapper {
    display: flex;
    margin-top: 80px;
    gap: 45px;
    .single_order_step {
      display: flex;
      flex-direction: column; 
      flex: 1;

      .number_and_description_wrapper {
        display: flex;
        gap: 10px;
        .order_number {
          font-size: 80px;
          font-weight: 700;
          color: #40434D;
        }
        .description {
          font-size: 16px;
          font-weight: 700;
          color: #40434D;
          margin: auto;
        }
      }

      svg {
        width: 100%;
      }
    }
  }
}

.why_eliksir {
    display: flex;
    color: #40434D;
    padding: 60px 0% 120px 10%;
    background: #FFF4D8;
    gap: 10%;
    // background: #FFF4D8;
    .text_wrapper {
        flex: 1;
        margin: auto;
        .title {
            font-size: 64px;
            font-weight: 700;
            line-height: 56px;
        }

        .description {
            font-size: 18px;
            font-weight: 700;
            margin-top: 45px;
        }
    }

    .image_wrapper {
        flex: 1;

        img {
            display: block;
            height: 100%;
        }
    }
}
