.why_us_eventy {
    display: flex;
    color: #40434d;
    padding: 0px 0% 0px 10%;
    gap: 10%;
    background-color:#FAD9BA;

    @include bp($bp-tablet) {
      padding: 0px 0px 0px 50px;
      gap: 40px;
  }
    
    @include bp($bp-mobile) {
      padding: 50px 0px 0px 0px;
      flex-direction: column;
      gap: 40px;
    }
  
    .text_and_button_wrapper {
      display: flex;
      flex: 1;
      margin: auto;
      flex-direction: column;

      @include bp($bp-mobile) {
        padding: 0px 16px;
      }

      @include bp($bp-tablet) {
        margin: 10% auto;
    }

      .title {
        font-size: 56px;
        font-weight: 700;
        color: #E58A56;
        margin-right: -50%;
        z-index: 1;
        margin-bottom: 30px;

        @include bp($bp-mobile) {
          font-size: 40px;
          margin-right: unset;
        }

        @include bp($bp-mobile) {
          font-size: 50px;
          margin-right: unset;
        }
      }
  
      .description {
        font-size: 18px;
        font-weight: 700;
        color: #40434d;
        margin: auto;
        margin-bottom: 30px;
        list-style: disc;
        list-style-position: inside;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }


    a.button {
      margin-left: -15px;

      @include bp($bp-mobile) {
        margin-left: unset;
      }
    }
  
    .image_wrapper {
      flex: 2;

      @include bp($bp-tablet) {
        flex: 1;
    }

    .img_container {
      @include bp($bp-tablet) {
        height: 100%;
    }
    }

  
      img {
        display: block;
        height: 100%;

        @include bp($bp-tablet) {
          height: 100%;
          object-fit: cover;
      }
      }
    }
  }