.logotype_eventy_section {
    padding: 150px 0px;
    background-color: #fff4d8;
    overflow: hidden;
    color: #40434D;

    @include bp($bp-mobile) {
        padding: 50px 0px;
      }

      @include bp($bp-tablet) {
        padding: 50px 0px;
    }

    .title {
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 60px;
        text-align: center;
        padding-bottom: 60px;

        @include bp($bp-mobile) {
            font-size: 32px;
          }
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

}

.b2b_offer_section.eventy {
    background-color: #fff4d8;

    button {
        a {
            color: #40434D;
            
        }
    }

    .cta_button {
        z-index: 100;
    }
}
