.eventy-horeca_section {
    background-color: #fff4d8;
    padding: 105px 205px 150px 205px;
    color: #40434D;

    @include bp($bp-mobile) {
        padding: 50px 0px 80px 0px;
      }

      @include bp($bp-tablet) {
        padding: 50px 0px 50px 0px;
    }

    .title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 105px;

        @include bp($bp-mobile) {
            font-size: 40px;
            text-align: left;
            margin-bottom: 40px;
            padding: 0px 16px
          }
    }

    .list-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 105px;
        padding-left: 24px;

        @include bp($bp-mobile) {
            gap: 20px;
            padding: 0px 16px;
          }

          @include bp($bp-tablet) {
            flex-direction: column;
            gap: 40px;
            padding: 0px 50px;
        }


        ul {
            list-style: disc;
            list-style-position: outside;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;

            @include bp($bp-mobile) {
                list-style-position: inside;
              }

            .subtitle {
                margin-left: -24px;

                @include bp($bp-mobile) {
                    margin-left: unset;
                    padding-bottom: 20px;
                  }
            }

        }

        .list_one {
            flex: 1;
            li:nth-child(1) {
                list-style-type: none;
                font-weight: 700; 
             }
        }

        .list_two {
            flex: 1;
            padding-top: 36px;

            @include bp($bp-mobile) {
                padding-top: 0px;
              }

              @include bp($bp-tablet) {
                padding-top: 0px;
            }
        }

        .list_three {
            width: 100%;
            @include bp($bp-mobile) {
                padding-top: 40px;
              }
            li:nth-child(1) {
                list-style-type: none;
                font-weight: 700; 
                
             }
        }

    }

    .movie_container {
        margin-top: 105px;

        @include bp($bp-tablet) {
            padding: 0px 20px;
        }
    }

    
}