.featured_products_section {
  background-color: #fff4d8;
}

.featured_products_section, ul.products {
  padding: 100px 0% 100px 0%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .swiper-scrollbar {
    border-radius: 2px;
    height: 5px;
    margin-top: 50px;
    position: relative  ;
    max-width: 500px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-weight: 700;
    color: #40434d;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }

  .description {
    color: #40434d;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    max-width: 950px;
    margin: 0 auto;
  }

  .swiper_featured {
    padding: 30px 0;
    .swiper-slide {
      height: 100%; 
    }
  }

  .wpc-horizontal-layout .wpc-filters-widget-wrapper {
    justify-content: center;
  }

  .wpc-filters-widget-main-wrapper .wpc-filters-labels li.wpc-term-item label {
    background-color: transparent;
    border: 2px solid #40434D;
    border-radius: 20px;
    color: #40434D;

    a {
      color: #40434D;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .wpc-filters-widget-main-wrapper .wpc-filters-labels li.wpc-term-item label span.wpc-filter-label-wrapper {
    padding: 6px 22px;
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input+label:hover span.wpc-filter-label-wrapper {
    background-color: #40434D;
    border-radius: 20px;
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background-color: #40434D;
    border-radius: 20px;
    border: 1px solid black;
  }

  /* filters container */
  .wpc-horizontal-layout .wpc-filters-section:not(.wpc-filter-layout-submit-button) {
    width: auto !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }

  .product_metadata_wrapper {
    color: #40434d;
    font-size: 16px;
    text-transform: uppercase;

    .woocommerce-LoopProduct-link {
      display: inline-block;
      text-transform: initial;
    }
    p,a {
      color: #40434d;
      font-size: 16px;
      font-weight: 700;
    }

    .single_sub_product {
      text-transform: uppercase;
      color: #40434d;
    }

  }

  .terms_dodatki {
    display: flex;
    flex-wrap: wrap;

    p {
      white-space: nowrap;
    }

  }

}
