.call_to_action_container {
  display: flex;
  margin: 0 auto;
  overflow: hidden;

  @include bp($bp-mobile) {
    flex-direction: column;
  }

  .single_call_to_action {
    min-width: 33.3%;
    position: relative;
    cursor: pointer;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease;

    &:hover:last-child ~ .single_call_to_action:first-child {
      margin-left: -33%;
      border: 1px solid red;
    }

    &.margin-left-33 {
      margin-left: -33%;
    }

    &:hover {
      min-width: 66.6%;
    }

    &:hover .hover_text {
      opacity: 1;
      max-height: 100%;
      transition-delay: 300ms;
      transition-duration: 0.5s;
      transition-property: opacity, height;

      // transition: all .4s ease;
    }

    // &:hover ~ .single_call_to_action {
    //     flex: 1 !important;
    //   }

    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.8;

      
    }

    .title,
    .description {
      position: absolute;
      left: 35px;
      font-weight: 700;
      color: #2a2b2e;
      max-width: 425px;
    }

    .title {
      bottom: 105px;
      font-size: 66px;
      line-height: 53px;
      // font-size: clamp(1rem, 66px, 2rem);
    }

    .description {
      bottom: 35px;
      font-size: 18px;
      min-height: 46px;
    }

    .hover_text {
      font-weight: 700;
      color: #2a2b2e;
      font-size: 14px;
      position: absolute;
      right: 0;
      bottom: 35px;
      width: 35%;
      text-align: right;
      opacity: 0;
      padding: 0px 48px 0px 20px;
      max-height: 0;
      overflow: hidden;
    }
  }

  .single_call_to_action:first-child .mask {
    background-color: #ffe8ad;
  }

  .single_call_to_action:nth-child(2) .mask {
    background-color: #fafea0;
  }

  .single_call_to_action:nth-child(3) .mask {
    background-color: #c3dce3;
  }
}
