.featured_products_section {
  background-color: #fff4d8;
  padding: 10% 5% 10% 5%;
  margin: 0 auto;
  overflow: hidden;

  .title {
    font-weight: 700;
    color: #40434d;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
  }

  .description {
    color: #40434d;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    max-width: 950px;
    margin: 0 auto;
  }

  .swiper_featured {
    padding: 30px 0;
  }
}
