
.container.hero_section {
  // max-width: 1800px;
  margin: 0 auto;

  
};

.swiper {
  width: 100%;
  // max-height: 10vh;
  .swiper-slide {
    position: relative;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    };
    };
};
  .swiper-slide-active {
    filter: none;
  };

  //custom navigation

 .swiper-pagination {
  gap: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px !important;

  @include bp($bp-tablet) {
    gap:25px;
}

  .swiper-pagination-bullet {
    opacity: 1;
    border-radius: unset;
    border: unset;
    width: unset;
    height: unset;
    background: unset;
    font-weight: 700;

    
   };

   .swiper-pagination-bullet-active {
    color: #73C16C;
   }
 };

 .hero_section_desktop {
  @include bp($bp-mobile) {
    display: none;
  }


 }

 .hero_section_mobile {
  display: none;

  @include bp($bp-mobile) {
    display: block;
    height: 80vh;
    overflow-x: hidden;

    .swiper_mobile {
      height: 100%;

      .swiper-slide {
        position: relative;
        width: 100%;
        transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        };
        };

    
    }
  }
 }

 



  

 
