.how_to_mix {
  background-color: #f6b98c;
  padding: 125px 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // max-width: 1800px;
  margin: 0 auto;

  @include bp($bp-mobile) {
    padding: 38px 16px 0 16px;
  }

  .title,
  .subtitle,
  .text {
    font-weight: 700;
    color: #40434d;
    text-align: center;
  }

  .title {
    font-size: 60px;
    text-transform: uppercase;
    @include bp($bp-mobile) {
      font-size: 24px;
      text-align: left;
    }
  }

  .subtitle {
    padding: 20px 0px;
    font-size: 24px;
    @include bp($bp-mobile) {
      font-size: 18px;
      text-align: left;
    }
  }

  .text {
    font-size: 40px;
    padding-top: 50px;
    @include bp($bp-mobile) {
      font-size: 16px;
      margin-bottom: 38px;
      padding-top: 0;
    }
  }

  .mix_ingredients {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    gap: 45px;
    @include bp($bp-mobile) {
      gap: 0px;
      padding: 0 20px;
    }
    .left_side_mix {
      flex: 1;

      .single_icon_box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding: 15px 0px;

        @include bp($bp-mobile) {
          justify-content: start;
        }

        .icon_description {
          font-weight: 700;
          font-size: 34px;
          min-width: 130px;
          @include bp($bp-mobile) {
            font-size: 18px;
            min-width: unset;
          }
        }

        img {
          width: 70px;
          height: auto;
          @include bp($bp-mobile) {
            width: 28px;
          }
        }
      }

      .single_icon_box:first-child .icon_description {
        color: #c3a43b;
      }

      .single_icon_box:nth-child(2) .icon_description {
        color: #f26b1f;
      }

      .single_icon_box:nth-child(3) .icon_description {
        color: #6797b2;
      }
    }
  }

  .right_side_mix {
    flex: 1;
    svg {
      @include bp($bp-mobile) {
        width: 100%;
      }
    }
  }
}

.containerr {
  width: 100%;
  height: 800px; /* set the height of the container */
  overflow: hidden; /* hide overflow so the glass doesn't spill out */
  position: relative; /* make the svg element position relative to the container */
}

//   svg {
//     position: absolute; /* position the svg inside the container */
//     top: 0;
//     left: 50%; /* center the svg horizontally */
//     transform: translateX(-50%); /* center the svg horizontally */
//     height: 100%; /* set the height of the svg to fill the container */
//   }
