.featured_products_section {
  background-color: #fff4d8;
}

.featured_products_section, ul.products {
  padding: 100px 0% 100px 0%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  @include bp($bp-mobile) {
    padding: 38px 16px 0 16px;
  }

  @include bp($bp-tablet) {
    padding: 48px 0px 48px 0px;
  }

  .swiper-scrollbar {
    border-radius: 2px;
    height: 5px;
    margin-top: 50px;
    position: relative  ;
    max-width: 500px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-weight: 700;
    color: #40434d;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    @include bp($bp-mobile) {
      font-size: 24px;
      text-align: left;
    }
  }

  .description {
    color: #40434d;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    max-width: 950px;
    margin: 0 auto;
    @include bp($bp-mobile) {
      font-size: 14px;
      text-align: left;
      padding: unset;
      padding-top: 38px;
    }
  }

  .swiper_featured {
    padding: 30px 0;
    .swiper-slide {
      height: 100%; 
      @include bp($bp-mobile) {
        height: auto; 
      }
      .woocommerce-loop-product__title {
        min-height: 128px;

        @include bp($bp-mobile) {
          min-height: 68px;
        }
      }

      .product_metadata_wrapper ul {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;

        @include bp($bp-mobile) {
          gap: 2px;
          min-height: 63px;
        }
      }

      li {
        @include bp($bp-mobile) {
          height: 100%; 
        }
      }
      

    }
  }



  .wpc-horizontal-layout .wpc-filters-widget-wrapper {
    justify-content: center;
  }

  ul.wpc-filters-ul-list {
    display: flex;
    overflow-x: scroll;
  }

  ul.wpc-filters-ul-list::-webkit-scrollbar{
    display: none;
  }

  .wpc-filters-widget-main-wrapper .wpc-filters-labels li.wpc-term-item label {
    background-color: transparent;
    border: 2px solid #40434D;
    border-radius: 20px;
    color: #40434D;

    a {
      color: #40434D;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .wpc-filters-widget-main-wrapper .wpc-filters-labels li.wpc-term-item label span.wpc-filter-label-wrapper {
    padding: 6px 22px;
    width: max-content;
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input+label:hover span.wpc-filter-label-wrapper {
    background-color: #40434D;
    border-radius: 20px;
    @include bp($bp-mobile) {
      background-color: unset;
      
    }
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background-color: #40434D;
    border-radius: 20px;
    border: 1px solid black; 
  }

  /* filters container */
  .wpc-horizontal-layout .wpc-filters-section:not(.wpc-filter-layout-submit-button) {
    width: auto !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }

  .product_metadata_wrapper {
    color: #40434d;
    font-size: 16px;
    text-transform: uppercase;

    .woocommerce-LoopProduct-link {
      display: inline-block;
      text-transform: initial;
    }
    p,a {
      color: #40434d;
      font-size: 16px;
      font-weight: 700;
      @include bp($bp-mobile) {
        font-size: 12px;
      }
  
      
    }

    .single_sub_product {
      text-transform: uppercase;
      color: #40434d;
    }

  }

  .terms_dodatki {
    display: flex;
    flex-wrap: wrap;

    p {
      white-space: nowrap;
    }

  }

}
