.how_to_mix {
    background-color: #F0D7C9;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;

    .title, .subtitle {
        font-weight: 700;
        color: #40434D;
        text-align: center;
    };

    .title {
        font-size: 60px;
        text-transform: uppercase;
    };

    .subtitle {
        padding: 20px 0px;
     
    };

    .mix_ingredients {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 600px;

        .left_side_mix {
           flex: 1;

            .single_icon_box {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;
                padding: 15px 0px;
        
                .icon_description {
                    font-weight: 700;
                    font-size: 34px;
                    min-width: 130px;
                }
        
                img {
                    width: 70px;
                    height: auto;
                }
            }

            .single_icon_box:first-child .icon_description {
                color: #C3A43B;
            }
        
        
            .single_icon_box:nth-child(2) .icon_description {
                color: #F26B1F;
                ;
            };
        
        
            .single_icon_box:nth-child(3) .icon_description {
                color: #6797B2;
            };

        }
    }


    .right_side_mix{
       flex: 1;
        img {
            height: auto;
            // max-width: 320px;
        }
    }
}

