.why_eliksir_section {
  display: flex;
  color: #40434d;
  padding: 0px 0% 0px 10%;
  gap: 10%;

  @include bp($bp-mobile) {
    padding: 38px 0px 0px 0px;
    flex-direction: column;
  }

    @include bp($bp-tablet) {
    padding: 0px 0px 0px 50px;
    gap: 40px;
}

  .text_and_button_wrapper {
    display: flex;
    flex: 1;
    margin: auto;
    flex-direction: column;
    padding: 100px 0px;
    @include bp($bp-mobile) {
      padding: 38px 16px 38px 16px;
    }

    @include bp($bp-tablet) {
      margin: 10% auto;
  }

    .title {
      font-size: 90px;
      font-weight: 700;
      color: #e58a56;
      margin-right: -90%;
      z-index: 1;
      line-height: 120px;
    margin-bottom: 44px;

      @include bp($bp-tablet) {
        font-size: 52px;
        margin-right: -190px;
        margin-bottom: 30px;
        line-height: 70px;
    }

      @include bp($bp-mobile) {
        font-size: 45px;
        margin-right: unset;
        line-height: 70px;
      }
    }

    .description {
      font-size: 16px;
      font-weight: 700;
      color: #40434d;
      margin: auto;
      margin-bottom: 30px;
      @include bp($bp-mobile) {
        font-size: 14px;
        margin-top: 20px;
      
      }
    }
  }

  .image_wrapper {
    flex: 2;
    @include bp($bp-tablet) {
      flex: 1;
  }

  .img_container {
    height: 100%;
    @include bp($bp-tablet) {
      height: 100%;
  }
  }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
      object-fit: cover;

      @include bp($bp-tablet) {
        height: 100%;
        object-fit: cover;
    }
    }
  }
}

//shop page section
.shop_page {
  .why_eliksir_section {

    .text_and_button_wrapper {
      padding: 140px 0;
      width: 40%;

      @include bp($bp-mobile) {
        padding: 32px 16px 40px 16px;
        width: 100%;
      }

       @include bp($bp-tablet) {
        width: 50%;
    }

      .title {
        font-size: 88px;
        line-height: 90px;
        margin-right: -230px;
        margin-bottom: 30px;

        @include bp($bp-mobile) {
          font-size: 42px;
          line-height: 44px;
          margin: unset;
        }

        @include bp($bp-tablet) {
          font-size: 52px;
          line-height: 60px;
      }
      }
    }

    .image_wrapper {
      width: 60%;

      @include bp($bp-mobile) {
        width: 100%;
      }

      @include bp($bp-tablet) {
        width: 50%;
    }

      .img_container {
        height: 100%;
        img {
          display: block;
          height: 100%;
          object-fit: cover;
        }
      }

      
    }

    .button {
      color: white;
      border: 1px solid #40434d;
      background-color: #40434d;
      border-radius: 30px;
      width: fit-content;
      padding: 11px 32px 15px 32px;
      transition: all 0.3s ease;
      display: inline-block;

      @include bp($bp-mobile) {
        
        width: 100%;
      }

      &::after {
        content: "";
        background: url("http://eliksir-w-butelce.local/wp-content/uploads/2023/04/arrow_right_alt_white.svg");
        width: 22px;
        height: 19px;
        display: inline-block;
        background-repeat: no-repeat;
        margin-left: 10px;
        transition: all 0.3s ease;
      }
      &:hover {
        background: transparent;
        color: #40434d;
      }
    }

    &:hover {
      transition: all 0.3s ease;
      // background: #40434d;
      // color: white;

      &::after {
        transform: translateX(6px);
        transition: all 0.3s ease;
      }
    }
  }
}


.page-id-326 .why_eliksir_section {
  padding: 0px;
  gap: 10%;

  .text_and_button_wrapper {
    width: 40%;
    padding: 100px 0px 100px 10%; 
    
    @include bp($bp-mobile) {
        
      width: 100%;
      padding: 38px 16px 38px 16px;
    }
  
  }

  .image_wrapper {
    width: 60%;

    @include bp($bp-mobile) {
        
      width: 100%;
    }

  }
}


