article.not-found {
    background-color: #F6B98C;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .entry-title {
        font-size: 5rem;
        color: #40434D;
    }

    .text-wrapper {
        margin-top: 20px;

        p {
            color: #40434D;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            justify-content: center;
        }
    }
}