.archive-wrapper {
  .product_cat {
    .tag-pretitle {
      font-size: 32px;
      color: #40434d;
      margin-bottom: 60px;
      text-transform: uppercase;

      @include bp($bp-mobile) {
        margin-bottom: 25px;
      }
    }

     &.zestawy {
      padding-top: 100px;

      @include bp($bp-mobile) {
        padding-top: unset;
        padding: 40px 16px 40px 16px;
      }

      @include bp($bp-tablet) {
        padding-top: 50px;
      }

      .woocommerce-loop-product__title {
        min-height: 127px;
      }
    }

    &.Wielkanoc {
      padding: 120px 10%;

      @include bp($bp-mobile) {
        padding: 40px 16px;
        // margin-top: 20px;
      }

      @include bp($bp-tablet) {
        padding: 50px;
      }
    }

    &.dodatki {
      .category-description {
        margin-bottom: 70px;
      }
    }

    .eliksiry {
      .products {
        padding-top: 51px;
      }
    }

    .extra-product-card {
      margin-bottom: 2.99em;
      position: relative;

      @include bp($bp-mobile) {
        min-height: 330px;
      }

      a {
        display: block;
        height: 100%;
      }

      &::after {
        content: ""; // ::before and ::after both require content
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.9;

        @include bp($bp-mobile) {
          height: 100%;
        }
      }

      .title {
        position: absolute;
        bottom: 0;
        text-align: left;
        font-size: 34px;
        color: white;
        z-index: 2;
        text-transform: unset;
        margin: 20px;

        @include bp($bp-mobile) {
          margin: 0px;
          bottom: unset;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 30px;
        }
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .category-title {
    text-transform: uppercase;

    @include bp($bp-mobile) {
      font-size: 32px;
    }
  }
  .category-description {
    font-size: 16px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #40434d;
    max-width: 80%;
    margin-bottom: 40px;
    @include bp($bp-mobile) {
      max-width: 100%;
    }
  }

  .wpc-filters-widget-content {
    padding-bottom: 11px;
  }

  ul.wpc-filters-ul-list {
    display: flex;
    flex-wrap: wrap;

    @include bp($bp-mobile) {
      flex-wrap: unset;
      overflow-x: scroll;
    }
  }

  ul.wpc-filters-ul-list::-webkit-scrollbar {
    display: none;
  }

  .wpc-filters-widget-main-wrapper .wpc-filters-labels li.wpc-term-item label {
    background-color: transparent;
    border: 2px solid #40434d;
    border-radius: 50px;
    color: #40434d;

    a {
      color: #40434d;
      font-size: 16px;
      font-weight: 700;
      align-items: center;
      display: flex;
      img {
        height: 30px;
        width: 30px;
        margin-right: 8px;
      }
    }

    .wpc-term-count {
      margin: auto;
    }
  }

  .wpc-filters-widget-main-wrapper .wpc-filters-labels li.wpc-term-item label span.wpc-filter-label-wrapper {
    padding: 6px 22px;
    width: max-content;
    min-height: 44px;
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input + label:hover {
    background-color: #40434d;

    @include bp($bp-mobile) {
      background-color: unset;
    }
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input + label:hover span.wpc-filter-label-wrapper {
    background-color: #40434d;
    border-radius: 50px;
    @include bp($bp-mobile) {
      background-color: unset;
    }
  }

  .wpc-filters-widget-main-wrapper input.wpc-label-input:checked + label span.wpc-filter-label-wrapper {
    background-color: #40434d;
    border-radius: 50px;
    border: 1px solid black;
  }

  /* filters container */
  .wpc-horizontal-layout .wpc-filters-section:not(.wpc-filter-layout-submit-button) {
    width: auto !important;
    margin: 0 !important;
    max-width: 100% !important;
  }

  .additional_section {
    background-color: #e8f4d4;
    padding: 120px 206px 160px 206px;
    color: #40434d;
    font-weight: 700;

    @include bp($bp-mobile) {
      padding: 40px 16px 80px 16px;
    }

    @include bp($bp-tablet) {
      padding: 50px;
    }

    .additional_section_title {
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 45px;
      font-size: 60px;

      @include bp($bp-mobile) {
        font-size: 32px;
      }

      @include bp($bp-tablet) {
        font-size: 40px;
      }
    }

    .additional_section_description {
      text-align: center;
      padding: 0px 80px 45px 80px;
      font-size: 18px;

      @include bp($bp-mobile) {
        padding: 0px;
      }
    }

    .subtitle_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 150px;
      padding-bottom: 60px;

      @include bp($bp-mobile) {
        gap: 20px;
        padding: 40px 0px;
      }

      @include bp($bp-tablet) {
        gap: 20px;
      }

      .subtitle {
        font-size: 36px;

        @include bp($bp-mobile) {
          font-size: 18px;
        }

        @include bp($bp-tablet) {
          font-size: 25px;
        }
      }

      .subtitle:first-child {
        color: #4ecb71;
      }

      .subtitle:nth-child(2) {
        color: #4ea5cb;
      }

      .subtitle:nth-child(3) {
        color: #854ecb;
      }

      .subtitle:nth-child(4) {
        color: #d87878;
      }
    }

    .img_wrapper {
      display: flex;
      gap: 55px;
      justify-content: center;

      @include bp($bp-mobile) {
        gap: 10px;
      }

      @include bp($bp-tablet) {
        gap: 20px;
      }

      img {
        width: 33.33%;
        height: auto;
      }
    }
  }

  .why_eliksir_section.tags_b2b_section {
    .title {
      font-size: 88px;
    }
    .button {
      color: #40434d;
      border: 1px solid #40434d;
      background-color: transparent !important;
      border-radius: 30px;
      width: fit-content;
      padding: 14px 32px;
      transition: all 0.3s ease;
      display: inline-block;

      &::after {
        content: "";
        background: url("http://eliksir-w-butelce.local/wp-content/uploads/2023/03/arrow_right_alt.svg");
        width: 16px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        margin-left: 10px;
        transition: all 0.3s ease;
      }

      &:hover {
        transition: all 0.3s ease;
        background: #40434d;
        // color: white;

        &::after {
          transform: translateX(6px);
          transition: all 0.3s ease;
        }
      }
    }
  }
}

section#_41 {
  .filters_wrapper {
    .widget_wpc_filters_widget {
      display: none;
    }
  }

  .woocommerce-loop-product__title {
    @include bp($bp-mobile) {
      min-height: 67px;
    }
  }
}

.tax-product_tag {
  .filters_wrapper {
    .widget_wpc_filters_widget {
      display: none;
    }
  }
}

.term-zestawy-dla-twojej-firmy {
  .filters_wrapper {
    .widget_wpc_filters_widget {
      display: none;
    }
  }
}

section#_39 {

  .product_metadata_wrapper ul {
    display: flex;
    flex-wrap: wrap;
    gap:7px;

    @include bp($bp-mobile) {
        gap: 2px;
      }

      li:first-child {
        margin-left: -7px;

        @include bp($bp-mobile) {
            margin-left: -2px;
          }
      }
    

    li {
        min-height: unset;
    }
  } 

  .woocommerce-loop-product__title {

    min-height: 128px;

    @include bp($bp-mobile) {
      min-height: 128px;
    }
  }
}

#zestawy_b2b .woocommerce-loop-product__title {
  @include bp($bp-mobile) {
    min-height: 60px;
  }
}


  
.shop_page .zestawy   {

  padding-top: 20px !important;

}

section#_58 {
  .filters_wrapper {

    justify-content: flex-end;
    .widget_wpc_filters_widget {
      display: none;
    }
  }

  .widget_wpc_sorting_widget {
    @include bp($bp-mobile) {
      margin-bottom: 40px;
    }
  }

  .category-description{
    margin: 0px;
  }

  .meta_button_wrapper {
    a {
      @include bp($bp-mobile) {
        display: none;
      }
    }
  }
  
}


section#_57 {
  .filters_wrapper {

    justify-content: flex-end;
    margin-bottom: 20px;
    
  }

  .meta_button_wrapper {
    a {
      @include bp($bp-mobile) {
        display: none;
      }
    }
  }

  .woocommerce-loop-product__title {
    @include bp($bp-mobile) {
      min-height: 85px;
    }
  }
}