@mixin bp($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
    @content;
  }
}

//shake shake animation on cart
@keyframes shake {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 10deg;
  }
  30% {
    rotate: -10deg;
  }
  45% {
    rotate: 5deg;
  }
  55% {
    rotate: -5deg;
  }
  60% {
    rotate: 0deg;
  }
}

.shake-cart {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1;
}

.header {
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: $z_index_header;
  margin: 0 auto;
  transition: all 0.3s ease;

  @include bp($bp-mobile) {
    padding: 0px;
    transition: unset;
  }

  @include bp($bp-tablet) {
    padding: 0px;
    transition: unset;
  }

  &.header--scrolled {
    padding: 10px;
    transition: all 0.3s ease;

    @include bp($bp-mobile) {
      padding: 0px;
      transition: unset;
    }
    @include bp($bp-tablet) {
      padding: 0px;
      transition: unset;
    }
  }

  &.header--scrolled .container {
    transition: all 0.3s ease;
    padding: 10px 40px;
    background: #292929c2;
    backdrop-filter: blur(3px);
    color: white;

    @include bp($bp-mobile) {
      padding: 10px 20px;
      transition: unset !important;
    }

    @include bp($bp-tablet) {
      padding: 10px 20px;
      transition: unset !important;
    }

    .header_logo img {
      transition: all 0.3s ease;
      max-height: 40px;
    }
  }

  @include bp($bp-tablet) {
  }

  @include bp($bp-mobile) {
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 10px;

    @include bp($bp-mobile) {
      border-radius: 0;
      padding: 10px 20px;
    }

    @include bp($bp-tablet) {
      border-radius: 0;
      padding: 10px 20px;
    }
  }

  .header_left,
  .menu_container,
  .header_right {
    width: 33.3%;
    display: flex;
    z-index: 1;
  }

  .header_left {
    align-items: flex-start;
    display: flex;
    width: 30%;

    @include bp($bp-mobile) {
      width: 40%;
    }

    @include bp($bp-tablet) {
      width: 40%;
    }

    .header_logo img {
      transition: all 0.3s ease;
      max-height: 55px;

      @include bp($bp-mobile) {
        max-height: 100% !important;
        padding-top: 5px;
      }
      @include bp($bp-tablet) {
        max-height: 100% !important;
        padding-top: 5px;
      }
    }
  }

  .header_right {
    align-items: flex-start;
    display: flex;
    width: 30%;
  }

  .menu_container {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

    @include bp($bp-mobile) {
      display: none;
    }

    @include bp($bp-tablet) {
      display: none;
    }
  }

  .header_navigation {
    width: 100%;

    ul {
      display: flex;
    }

    ul li {
      position: relative;
      width: 33.3%;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;

      a {
        transition: all 0.3s ease;
      }

      a:hover,
      &.current-menu-item a {
        color: #e58a56;
        transition: all 0.3s ease;
      }
    }

    li:nth-child(2)::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("https://www.test404studio.pl/eliksir-w-butelce/wp-content/uploads/2023/03/Portal.svg");
      position: absolute;
      display: flex;
      left: -35px;
      top: -25%;
    }

    li:nth-child(2)::after {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("http://eliksir-w-butelce.local/wp-content/uploads/2023/03/Portal.svg");
      position: absolute;
      display: flex;
      right: -35px;
      top: -25%;
    }
  }

  //header navigation mobile
  .menu_container_mobile {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    will-change: transform;
    backface-visibility: hidden;
    padding: 20px;
    padding-top: 150px;
    z-index: 0;
    background: #292e2a;
    transition: all 0.1s ease-in 0.2s;
    height: 100vh;
    display: none;

    @include bp($bp-mobile) {
      display: flex;
    }

    @include bp($bp-tablet) {
      display: flex;
      width: 340px;
    }

    .menu-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.175);
      padding: 15px 0;
    }

    .navigation_list_footer .menu-item {
      border-bottom: 0px solid rgba(255, 255, 255, 0.175);
      padding: 8px;
    }

    .mobile_menu_footer {
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        gap: 24px;
      }
    }
  }

  .header_right {
    justify-content: flex-end;
    align-items: flex-start;
    gap: 50px;

    .navigation_social {
      display: flex;
      gap: 30px;

      @include bp($bp-mobile) {
        display: none;
      }

      @include bp($bp-tablet) {
        display: none;
      }

      li {
        display: flex;
      }

      a {
        font-family: "Neue Haas Grotesk Display Pro", sans-serif;
        font-weight: 900;
        font-size: 10px;
        opacity: 0.6;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 1;
        }
      }
    }

    p {
      text-align: right;
      font-family: "Neue Haas Grotesk Display Pro", sans-serif;
      font-weight: 900;
      font-size: 10px;
    }

    .icon_box {
      display: flex;
      flex-direction: column;
      gap: 18px;

      i {
        font-weight: 900;
        width: 20px;
        height: 20px;
      }

      .translation_dropdown {
        @include bp($bp-mobile) {
          display: none;
        }

        @include bp($bp-tablet) {
          display: none;
        }
      }
    }

    .icon_container {
      display: flex;
      gap: 18px;

      .cart-icon {
        outline: none;

        span {
          display: block;
          font-size: 0.8em;
          position: absolute;
          top: -8px;
          left: 11px;
          font-size: 10px;
          background: #ea3e32;
          padding: 1px 5px;
          z-index: 1;
          border-radius: 10px;
        }
      }
    }
  }
}

//header for shop
.header_shop {
  padding: unset;

  .container {
    padding: 20px 30px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: unset;

    @include bp($bp-mobile) {
      border-radius: 0;
      padding: 10px 20px;
    }

    @include bp($bp-tablet) {
      border-radius: 0;
      padding: 10px 20px;
    }
  }

  &.header--scrolled .container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include bp($bp-mobile) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    @include bp($bp-tablet) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  &.header--scrolled {
    padding: 10px;
    @include bp($bp-mobile) {
      padding: 0px;
      transition: unset;
    }

    @include bp($bp-tablet) {
      padding: 0px;
      transition: unset;
    }

    transition: all 0.3s ease;
    .submenu_container {
      @include bp($bp-tablet) {
        position: relative;
        z-index: -2;
      }

      @include bp($bp-mobile) {
        position: relative;
        z-index: -2;
      }

      ul {
        background-color: #292929eb;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        backdrop-filter: blur(3px);
        @include bp($bp-mobile) {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        @include bp($bp-tablet) {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
    }
  }
  //submenu under main menu - only for shop
  .submenu_container {
    ul {
      display: flex;
      justify-content: center;
      gap: 5%;
      font-size: 16px;
      text-transform: uppercase;
      padding: 24px;
      background-color: #292929;

      li {
        a:hover,
        &.current-menu-item a {
          color: #e58a56;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

//burger button

.header__toggle {
  position: relative;
  background: none;
  border: none;
  margin-left: 21px;
  border-radius: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 8;

  @include bp($bp-tablet) {
    display: flex;
  }
  @include bp($bp-mobile) {
    display: flex;
  }

  &:hover {
    cursor: pointer;
  }
}

.header__toggle__item {
  background: $color_white;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  transition: all 0.2s ease-in;

  &:nth-child(2) {
    top: calc(50% - 1px);
  }
  &:last-child {
    top: calc(100% - 3px);
    width: 30px;
  }
}

.header--navigation-open {
  background: transparent;
  box-shadow: none;

  .menu_container_mobile {
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
  }

  .cart-icon-container {
    visibility: hidden;
  }

  .menu-item {
    opacity: 1;
    transition: opacity 0.2s ease-out 0.2s;
  }

  .header__toggle {
    .header__toggle__item {
      width: 30px;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(12px);
      }

      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-12px);
      }
    }
  }

  .navigation__overlay {
    transition: opacity 0.2s ease-in 0.1s;
    pointer-events: all;
    opacity: 0.49;
    z-index: 3;
  }
}
