@mixin bp($map) {
    $query: "";
    @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
    @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
    @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
    @media screen and #{$query} { @content; }
  }


.header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 22px 51px;
    color: $color_white;
    // background: transparent;
    background: red; 
    z-index: $z_index_header;
    transition: 0.2s ease-in;

  @include bp($bp-tablet) {
      padding: 2.4rem 3.5rem;
  }

  @include bp($bp-mobile) {
      height: 90px;
      padding: 1.5rem;
  }

  .container {
      width: 100%;
      display: flex;
      align-items: center;
  }
}

.header--scrolled {
  box-shadow: 0 0 20px 0  $color_black;
  height: 78px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__left {
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
}

.header__right {
  margin-left: auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.header__languages {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;

  a {
      color: $color_mid;
      transition: width 0.2s ease-in;
      font-weight: 900;

      &:hover {
          color: $color_white;
      }
  }

  .lang-item {
      padding: 5px 8px;
  }

  .current-lang {
      a {
          color: $color_white;
      }
  }
}

.header__logo {
  margin-right: 30px;

  @include bp($bp-mobile) {
      margin-right: 15px;
  }

  @include bp($bp-mobile-narrow) {
      margin-right: 0;
  }

  img {
      height: 42px;
      @include bp($bp-mobile-narrow) { 
          height: 34px; 
      }
  }
}

.header__social {
  display: flex;
  align-items: center;

  @include bp($bp-mobile) {
      display: none;
  }

  .social__item {
      padding: 10px 12px;

      a{
          font-size: 22px;
          color: $color_mid;
          transition: color 0.2s ease-in;

          &:hover {
              color: white;
          }
      }
  }
}
