ul.products {
  li.product {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    // &:hover {
    //   border: 1px solid white;
    // }
    img {
      aspect-ratio: 3/2;
      object-fit: cover;
      height: auto;
      width: 100%;
    }

    .button {
      border-radius: 20px;
      margin: 0 0 10px 10px;
    }

    .product-details-wrapper {
      .woocommerce-loop-product__title {
        font-weight: 700;
        color: #40434d;
        font-size: 26px;

        @include bp($bp-mobile) {
          font-size: 18px;
        }
      }

      .woocommerce-Price-amount {
        font-family: futura-pt, sans-serif;
        font-weight: 600;
        color: #40434d;
        font-size: 24px;

        @include bp($bp-mobile) {
          font-size: 20px;
        }
      }
    }

    hr {
      border-color: #40434d;
    }

    .meta_button_wrapper {
      flex: 1;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }
  }
  .button.add_to_cart_button {
    display: none;
    @include bp($bp-mobile) {
      display: inline-block;
      margin-top: 20px !important;
    }
  }

  .added_to_cart{
    display: none;
  }
}

.woocommerce ul.products li.product .button.add_to_cart_button {
  display: none;
  @include bp($bp-mobile) {
    display: inline-block;
    margin-top: 20px !important;
  }
}

#zestawy_b2b li.product .button.add_to_cart_button {
  display: none !important;
}


#zestawy {
  ul.products {
    li.product {
      .product-details-wrapper {
        .woocommerce-loop-product__title {
          min-height: 127px;
        }
      }
    }
  }
}


#dodatki {
  ul.products {
    li.product {
      .product-details-wrapper {
        .woocommerce-loop-product__title {
          @include bp($bp-mobile) {
           min-height: 65px;
          }
        }
      }
    }
  }
}

