/* Position the mini cart container */
.cart-icon-container {
  position: relative;
}

.mini-cart-container {
  background-color: #e5decb;
  border: none;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.45);
  position: absolute;
  right: -630px;
//   right: 0;
  top: 35px;
  width: 580px;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  padding: 32px 40px;

  &.minicart-show {
    right: 0;
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .woocommerce-mini-cart__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      width: 100% !important;
      text-align: center;
    }
  }

  /* Style the mini cart products list */
  .woocommerce-mini-cart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;

    li {
      display: flex;

      a {
        display: block;

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          max-width: unset;
          display: block;
        }
      }

      .cart-item-title {
        font-size: 16px;
        color: #40434d;
        margin: auto;
        margin-left: 16px;
        flex: 2;
      }
      .product-quantity {
        display: flex;
        align-items: center;
      }
      .quantity {
        display: flex;
        height: 37px;
        align-items: center;

        .quantity_title {
          display: none;
        }

        button {
          font-size: 32px;
          font-weight: 700;
          color: #40434d;
          background-color: #e6decb;
          border: unset;
          border-radius: 105px;
          height: 51px;
          min-width: 60px;
          opacity: 0.7;
        }

        input {
          border: 2px solid #40434d;
          background-color: transparent;
          color: #40434d;
          font-size: 16px;
          font-weight: 500;
          border-radius: 105px;
          text-align: center;
          width: 50px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

       
      }

      .price {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;

        span {
            color: #40434d;
        }
    }
    }
  }
}

/* Style the mini cart header */
.mini-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .mini-cart-title {
    font-size: 18px;
    color: #40434d;
  }

  .close-icon {
    cursor: pointer;
  }
}

//noscroll
html.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
