
.archive {

   
    margin-top: 100px;
    background-color: #fff4d8;

    //for b2b product section 
    &.b2b {
        margin-top: unset;
        background-color: #FAD9BA;
        padding: 120px 10%;

        .product_cat {
            padding: unset;
        }

        ul.products {
            padding-top: unset;
            row-gap: 5%;
        }



    }
    .woocommerce-breadcrumb {
        padding: 0 10%;
        margin-top: 200px;

    }
    .product_cat {
        padding: 80px 10%;
        scroll-margin-top: 150px;
    }

    .product_cat.eliksiry {
        background: #FAD9BA;
    }
    
    & .archive-container {
        @include bp($bp-tablet) {
            padding: 30px;
        }

        @include bp($bp-mobile) {
            padding: 20px;
        }

        .category-title {
            font-size: 40px;
            margin-bottom: 25px;
            color: #40434D;
        }

        ul.products {
            display: grid;
            column-gap: 5%;
            
            grid-template-columns: repeat(3, 1fr);
            
    
            @include bp($bp-tablet) {
                grid-template-columns: repeat(2, 1fr);
                li.product {
                    width: 100% !important;
                }
            }
    
            @include bp($bp-mobile) {
                grid-template-columns: repeat(2, 1fr);
                li.product {
                    width: 100% !important;
                }
            }
            &::before {
                content: unset;
            }
    
            li.product {
                width: 100%;
            }
        }
    }
   
}
